@media print {
    body {
        transform: scale(1);
        zoom: 150%;
    }

    h1 {
        font-family: "Britannic Bold", Broadway, Calibri, sans-serif;
    }

    p {
        font-size: 12pt;
        font-family: Cambria, "Times New Roman", serif;
    }

    .positioned {
        position: static;
    }

    #menu {
        display: none;
    }

    #pagecontents {
        width: 100%;
        border: 0px;
    }
}

@page
{margin:0.5in;
}

